# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.pyo
*.pyc
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.idea/
*.db
*.sqlite3

# Poetry
.poetry/
poetry.lock

# Docker
*.log

# VSCode
.vscode/

# Pytest
.cache
*.cover
*.hypothesis/

# MacOS specific
.DS_Store

# Linux specific
*~
