{% extends 'generic/object.html' %}
{% load tabs %}
{% load ninja_tags %}
{% load static %}

{% block content %}
<div>
    {% for ninja_template in ninja_templates.all %}
    <div class="card">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th> Output type</th>
                    <th>API</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ ninja_template|linkify:"name" }}</td>
                    <td>{% badge ninja_template.output_type bg_color=ninja_template.get_output_type_color %}</td>
                    <td> <a
                            href="{% url 'plugins-api:netbox_ninja_plugin-api:ninjatemplate-render' pk=ninja_template.pk %}?app={{ object|app_label }}&model={{ object|model_name }}&pk={{ object.pk }}">Open</a>
                    </td>
                    <td class="text-end d-print-none">
                        {% if perms.netbox_ninja_plugin.change_ninjatemplate %}
                        <a href="{% url 'plugins:netbox_ninja_plugin:ninjatemplate_edit' pk=ninja_template.pk %}?return_url={{ object.get_absolute_url }}ninja/"
                            class="btn btn-warning lh-1" title="Edit">
                            <i class="mdi mdi-pencil" aria-hidden="true"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Rendered</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div id="mxgraphContainer{{ forloop.counter0 }}"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
<script>
    window.NINJA_CONFIGS = [];
    {% for ninja_template in ninja_templates.all %}
    window.NINJA_CONFIGS.push({
        viewerScriptUrl: "{% static 'netbox_ninja_plugin/js/viewer-static.min.js' %}",
        xmlData: `{% filter escapejs %}{% render_object ninja_template frontend=True target_object=object %}{% endfilter %}`,
        editUrl: "{% url 'plugins:netbox_ninja_plugin:ninjatemplate_edit' pk=ninja_template.pk %}?return_url={{ object.get_absolute_url }}ninja/",
        mxgraphContainerId: "mxgraphContainer{{ forloop.counter0 }}"
    });
    {% endfor %}
</script>
<script src="{% static 'netbox_ninja_plugin/js/viewer-loader.js' %}"></script>
{% endblock %}
